In [1]:
import pandas as pd

In [2]:
data = pd.read_excel("../../Bases/Base_sem_outlier.xlsx")

In [3]:
data

,V0001,V0024,UPA_PNS,V0006_PNS,V0022,A02201,A02305,A02306,C00301,C004,...,P052,P053,P05901,P05902,P05903,P05904,Q074,Q092,Q11006,Q11604
0,11,1110011,110000016,2,4,1,1.0,0.0,4,5,...,NaN,12.0,NaN,NaN,NaN,NaN,2,2,2,2
1,11,1110011,110000016,5,2,2,NaN,NaN,1,1,...,3.0,NaN,NaN,NaN,NaN,NaN,2,2,2,2
2,11,1110011,110000016,8,4,1,0.0,1.0,2,2,...,NaN,24.0,NaN,NaN,NaN,NaN,2,2,2,2
3,11,1110011,110000016,12,1,1,0.0,2.0,1,1,...,3.0,NaN,NaN,NaN,NaN,NaN,2,2,2,2
4,11,1110011,110000034,4,3,2,NaN,NaN,1,1,...,2.0,NaN,1.0,0.0,0.0,0.0,2,1,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43011,53,5310220,530041727,12,4,1,0.0,2.0,1,1,...,3.0,NaN,NaN,NaN,NaN,NaN,2,2,2,2
43012,53,5310220,530041727,14,3,2,NaN,NaN,1,1,...,NaN,12.0,NaN,NaN,NaN,NaN,2,2,2,2
43013,53,5310220,530044434,6,5,1,0.0,2.0,2,2,...,3.0,NaN,NaN,NaN,NaN,NaN,2,2,2,2
43014,53,5310220,530044434,8,6,1,1.0,2.0,1,1,...,3.0,NaN,NaN,NaN,NaN,NaN,1,2,2,2
43015,53,5310220,530044434,13,1,1,0.0,2.0,1,1,...,3.0,NaN,NaN,NaN,NaN,NaN,2,2,2,2

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43016 entries, 0 to 43015
Data columns (total 34 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   V0001      43016 non-null  int64
 1   V0024      43016 non-null  int64
 2   UPA_PNS    43016 non-null  int64
 3   V0006_PNS  43016 non-null  int64
 4   V0022      43016 non-null  int64
 5   A02201     43016 non-null  int64
 6   A02305     24418 non-null  float64
 7   A02306     24418 non-null  float64
 8   C00301     43016 non-null  int64
 9   C004       43016 non-null  int64
 10  C006       43016 non-null  int64
 11  C008       43016 non-null  int64
 12  C009       43016 non-null  int64
 13  L01701     0 non-null      float64
 14  L018       0 non-null      float64
 15  M01601     43016 non-null  int64
 16  N010       43016 non-null  int64
 17  P00104     42241 non-null  float64
 18  P00404     42241 non-null  float64
 19  P034       43016 non-null  int64
 20  P035       17512 non-null  float64
 21  P03701     16728 non-null  float64
 22  P03702     16728 non-null  float64
 23  P050       43016 non-null  int64
 24  P052       38364 non-null  float64
 25  P053       10979 non-null  float64
 26  P05901     7957 non-null   float64
 27  P05902     7957 non-null   float64
 28  P05903     7957 non-null   float64
 29  P05904     7957 non-null   float64
 30  Q074       43016 non-null  int64
 31  Q092       43016 non-null  int64
 32  Q11006     43016 non-null  int64
 33  Q11604     43016 non-null  int64
dtypes: float64(15), int64(19)
memory usage: 11.2 MB

# Agrupamento de dados por plano cartesiano

### A02201 e A023

Neste processo criaremos uma coluna que equivale a quantidade de gatos e/ou cachorros que existem no domicilio

In [5]:
data['A02201'].value_counts()

A02201
1    24418
2    18598
Name: count, dtype: int64

In [6]:
data['A02305'].fillna(0, inplace=True)
data['A02306'].fillna(0, inplace=True)

In [7]:
data[['A02201', 'A02305', 'A02306']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43016 entries, 0 to 43015
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A02201  43016 non-null  int64
 1   A02305  43016 non-null  float64
 2   A02306  43016 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 1008.3 KB

In [8]:
tmp = data['A02305']+data['A02306']

In [9]:
tmp

0        1.0
1        0.0
2        1.0
3        2.0
4        0.0
        ...
43011    2.0
43012    0.0
43013    2.0
43014    3.0
43015    2.0
Length: 43016, dtype: float64

In [10]:
data.rename(columns={'A02201': 'A02201|A02305|A02306'}, inplace=True)

In [11]:
data['A02201|A02305|A02306'] = tmp

In [12]:
data.drop(columns=['A02305', 'A02306'], inplace=True)

### P034 e P035

Quantas vezes o individuo pratica exercicio fisico

In [13]:
data['P034'].value_counts()

P034
2    25504
1    17512
Name: count, dtype: int64

In [14]:
data[['P034', 'P035']]

       P034  P035
0         2   NaN
1         1   1.0
2         2   NaN
3         1   2.0
4         1   3.0
...     ...   ...
43011     2   NaN
43012     2   NaN
43013     2   NaN
43014     2   NaN
43015     1   1.0

[43016 rows x 2 columns]

In [15]:
data['P035'].fillna(0, inplace=True)

In [16]:
data.rename(columns={'P035':'P034|P035'}, inplace=True)

In [17]:
data['P034|P035'].value_counts()

P034|P035
0.0    26288
3.0     4124
5.0     3166
2.0     3149
1.0     2786
4.0     1462
7.0     1313
6.0      728
Name: count, dtype: int64

In [18]:
data.drop(columns=['P034'], inplace=True)

In [19]:
data

,V0001,V0024,UPA_PNS,V0006_PNS,V0022,A02201|A02305|A02306,C00301,C004,C006,C008,...,P052,P053,P05901,P05902,P05903,P05904,Q074,Q092,Q11006,Q11604
0,11,1110011,110000016,2,4,1.0,4,5,2,19,...,NaN,12.0,NaN,NaN,NaN,NaN,2,2,2,2
1,11,1110011,110000016,5,2,0.0,1,1,2,28,...,3.0,NaN,NaN,NaN,NaN,NaN,2,2,2,2
2,11,1110011,110000016,8,4,1.0,2,2,2,38,...,NaN,24.0,NaN,NaN,NaN,NaN,2,2,2,2
3,11,1110011,110000016,12,1,2.0,1,1,1,36,...,3.0,NaN,NaN,NaN,NaN,NaN,2,2,2,2
4,11,1110011,110000034,4,3,0.0,1,1,1,42,...,2.0,NaN,1.0,0.0,0.0,0.0,2,1,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43011,53,5310220,530041727,12,4,2.0,1,1,1,41,...,3.0,NaN,NaN,NaN,NaN,NaN,2,2,2,2
43012,53,5310220,530041727,14,3,0.0,1,1,1,21,...,NaN,12.0,NaN,NaN,NaN,NaN,2,2,2,2
43013,53,5310220,530044434,6,5,2.0,2,2,1,44,...,3.0,NaN,NaN,NaN,NaN,NaN,2,2,2,2
43014,53,5310220,530044434,8,6,3.0,1,1,2,26,...,3.0,NaN,NaN,NaN,NaN,NaN,1,2,2,2
43015,53,5310220,530044434,13,1,2.0,1,1,1,32,...,3.0,NaN,NaN,NaN,NaN,NaN,2,2,2,2

### P03701 e P03702

Quanto tempo pratica exercicio fisico

In [20]:
data[['P03701', 'P03702']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43016 entries, 0 to 43015
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   P03701  16728 non-null  float64
 1   P03702  16728 non-null  float64
dtypes: float64(2)
memory usage: 672.3 KB

In [21]:
data[['P03701', 'P03702']]

       P03701  P03702
0         NaN     NaN
1         0.0    30.0
2         NaN     NaN
3         1.0     0.0
4         1.0    30.0
...       ...     ...
43011     NaN     NaN
43012     NaN     NaN
43013     NaN     NaN
43014     NaN     NaN
43015     1.0     0.0

[43016 rows x 2 columns]

In [22]:
tmp = data['P03701'] * 60

In [23]:
data['P03701'] = tmp + data['P03702']

In [24]:
data.drop(columns=['P03702'], inplace=True)

In [25]:
data.rename(columns={'P03701': 'P03701|P03702'}, inplace=True)

In [26]:
data['P03701|P03702']

0         NaN
1        30.0
2         NaN
3        60.0
4        90.0
         ...
43011     NaN
43012     NaN
43013     NaN
43014     NaN
43015    60.0
Name: P03701|P03702, Length: 43016, dtype: float64

In [27]:
data[['P034|P035', 'P03701|P03702']]

       P034|P035  P03701|P03702
0            0.0            NaN
1            1.0           30.0
2            0.0            NaN
3            2.0           60.0
4            3.0           90.0
...          ...            ...
43011        0.0            NaN
43012        0.0            NaN
43013        0.0            NaN
43014        0.0            NaN
43015        1.0           60.0

[43016 rows x 2 columns]

In [28]:
data.loc[data['P034|P035'] == 0, 'P03701|P03702'] = 0

In [29]:
data['P03701|P03702'].max()

119.0

In [30]:
bins = [0, 1, 30, 60, 90, 120]
labels = ['Não pratica', '<30', '31-60', '61-90', '91-120']

data['P03701|P03702'] = pd.cut(data['P03701|P03702'], bins=bins, labels=labels, right=False)

### P050 e P052

Fuma ou nao fuma

In [31]:
data[['P050', 'P052']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43016 entries, 0 to 43015
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   P050    43016 non-null  int64
 1   P052    38364 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 672.3 KB

In [32]:
data[['P050', 'P052']]

       P050  P052
0         1   NaN
1         3   3.0
2         2   NaN
3         3   3.0
4         3   2.0
...     ...   ...
43011     3   3.0
43012     1   NaN
43013     3   3.0
43014     3   3.0
43015     3   3.0

[43016 rows x 2 columns]

In [33]:
data.loc[(data['P050'] == 3) & (data['P052'] == 3), 'P050'] = 4

In [34]:
data[['P050', 'P052']]

       P050  P052
0         1   NaN
1         4   3.0
2         2   NaN
3         4   3.0
4         3   2.0
...     ...   ...
43011     4   3.0
43012     1   NaN
43013     4   3.0
43014     4   3.0
43015     4   3.0

[43016 rows x 2 columns]

In [35]:
data['P050'].value_counts()

P050
4    30407
3     7957
1     3983
2      669
Name: count, dtype: int64

In [36]:
data.drop(columns=['P052'], inplace=True)

In [37]:
data.rename(columns={'P050': 'P050|P052'}, inplace=True)

In [38]:
data['P050|P052'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 43016 entries, 0 to 43015
Series name: P050|P052
Non-Null Count  Dtype
--------------  -----
43016 non-null  int64
dtypes: int64(1)
memory usage: 336.2 KB

Nesta nova formatacao temos que

1 = pessoa que fuma diariamente

2 = pessoa que fuma mas nao diariamente

3 = pessoa que ja fumou mas nao fuma mais

4 = pessoa que nunca fumou

### P059

A Quanto tempo não fuma

In [39]:
data[['P050|P052','P05901', 'P05902', 'P05903', 'P05904']]

       P050|P052  P05901  P05902  P05903  P05904
0              1     NaN     NaN     NaN     NaN
1              4     NaN     NaN     NaN     NaN
2              2     NaN     NaN     NaN     NaN
3              4     NaN     NaN     NaN     NaN
4              3     1.0     0.0     0.0     0.0
...          ...     ...     ...     ...     ...
43011          4     NaN     NaN     NaN     NaN
43012          1     NaN     NaN     NaN     NaN
43013          4     NaN     NaN     NaN     NaN
43014          4     NaN     NaN     NaN     NaN
43015          4     NaN     NaN     NaN     NaN

[43016 rows x 5 columns]

In [40]:
data[['P05901', 'P05902', 'P05903', 'P05904']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43016 entries, 0 to 43015
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   P05901  7957 non-null   float64
 1   P05902  7957 non-null   float64
 2   P05903  7957 non-null   float64
 3   P05904  7957 non-null   float64
dtypes: float64(4)
memory usage: 1.3 MB

In [41]:
data['P05904'] = data['P05904'] / 365
data['P05903'] = data['P05903'] / 52
data['P05902'] = data['P05902'] / 12

In [42]:
data['P05901'] += data['P05902'] + data['P05903'] + data['P05904']

In [43]:
data['P05901'].max()

46.0

as faixas foram criadas com base no artigo de E. Nunes, mas foram utilizados somente os valores de anos

In [44]:
bins = [0, 0.99, 5, 15, 48]
labels = ['Menos de 1 ano', '1-5', '5-15', '15+']

data['P05901'] = pd.cut(data['P05901'], bins=bins, labels=labels, right=False)

In [45]:
data.drop(columns=['P05902', 'P05903', 'P05904'], inplace=True)

In [46]:
temp = data.loc[data['P050|P052'] == 1].copy() 

if pd.api.types.is_categorical_dtype(temp['P05901']):
    temp['P05901'] = temp['P05901'].cat.add_categories(['Fuma atualmente'])
    data['P05901'] = data['P05901'].cat.add_categories(['Fuma atualmente'])

data.loc[data['P050|P052'] == 1, 'P05901'] = temp['P05901'].fillna('Fuma atualmente')

/tmp/ipykernel_16740/2719581350.py:3: DeprecationWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, pd.CategoricalDtype) instead
  if pd.api.types.is_categorical_dtype(temp['P05901']):

In [47]:
temp = data.loc[data['P050|P052'] == 2].copy() 

data.loc[data['P050|P052'] == 2, 'P05901'] = temp['P05901'].fillna('Fuma atualmente')

In [48]:
temp = data.loc[data['P050|P052'] == 4].copy() 

if pd.api.types.is_categorical_dtype(temp['P05901']):
    temp['P05901'] = temp['P05901'].cat.add_categories(['Nunca fumou'])
    data['P05901'] = data['P05901'].cat.add_categories(['Nunca fumou'])

data.loc[data['P050|P052'] == 4, 'P05901'] = temp['P05901'].fillna('Nunca fumou')

/tmp/ipykernel_16740/2331127495.py:3: DeprecationWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, pd.CategoricalDtype) instead
  if pd.api.types.is_categorical_dtype(temp['P05901']):

In [49]:
data[['P050|P052','P05901']]

       P050|P052           P05901
0              1  Fuma atualmente
1              4      Nunca fumou
2              2  Fuma atualmente
3              4      Nunca fumou
4              3              1-5
...          ...              ...
43011          4      Nunca fumou
43012          1  Fuma atualmente
43013          4      Nunca fumou
43014          4      Nunca fumou
43015          4      Nunca fumou

[43016 rows x 2 columns]

In [50]:
data.rename(columns={'P05901': 'P05901|P05902|P05903|P05904'}, inplace=True)

### P053

In [51]:
data[['P050|P052', 'P053']]

       P050|P052  P053
0              1  12.0
1              4   NaN
2              2  24.0
3              4   NaN
4              3   NaN
...          ...   ...
43011          4   NaN
43012          1  12.0
43013          4   NaN
43014          4   NaN
43015          4   NaN

[43016 rows x 2 columns]

In [52]:
data.loc[data['P050|P052'] == 4, 'P053'] = -1

### Salvando a base

In [53]:
data

,V0001,V0024,UPA_PNS,V0006_PNS,V0022,A02201|A02305|A02306,C00301,C004,C006,C008,...,P00404,P034|P035,P03701|P03702,P050|P052,P053,P05901|P05902|P05903|P05904,Q074,Q092,Q11006,Q11604
0,11,1110011,110000016,2,4,1.0,4,5,2,19,...,152.0,0.0,Não pratica,1,12.0,Fuma atualmente,2,2,2,2
1,11,1110011,110000016,5,2,0.0,1,1,2,28,...,176.0,1.0,31-60,4,-1.0,Nunca fumou,2,2,2,2
2,11,1110011,110000016,8,4,1.0,2,2,2,38,...,156.0,0.0,Não pratica,2,24.0,Fuma atualmente,2,2,2,2
3,11,1110011,110000016,12,1,2.0,1,1,1,36,...,172.0,2.0,61-90,4,-1.0,Nunca fumou,2,2,2,2
4,11,1110011,110000034,4,3,0.0,1,1,1,42,...,185.0,3.0,91-120,3,NaN,1-5,2,1,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43011,53,5310220,530041727,12,4,2.0,1,1,1,41,...,159.0,0.0,Não pratica,4,-1.0,Nunca fumou,2,2,2,2
43012,53,5310220,530041727,14,3,0.0,1,1,1,21,...,178.0,0.0,Não pratica,1,12.0,Fuma atualmente,2,2,2,2
43013,53,5310220,530044434,6,5,2.0,2,2,1,44,...,162.0,0.0,Não pratica,4,-1.0,Nunca fumou,2,2,2,2
43014,53,5310220,530044434,8,6,3.0,1,1,2,26,...,150.0,0.0,Não pratica,4,-1.0,Nunca fumou,1,2,2,2
43015,53,5310220,530044434,13,1,2.0,1,1,1,32,...,186.0,1.0,61-90,4,-1.0,Nunca fumou,2,2,2,2

In [54]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43016 entries, 0 to 43015
Data columns (total 26 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   V0001                        43016 non-null  int64
 1   V0024                        43016 non-null  int64
 2   UPA_PNS                      43016 non-null  int64
 3   V0006_PNS                    43016 non-null  int64
 4   V0022                        43016 non-null  int64
 5   A02201|A02305|A02306         43016 non-null  float64
 6   C00301                       43016 non-null  int64
 7   C004                         43016 non-null  int64
 8   C006                         43016 non-null  int64
 9   C008                         43016 non-null  int64
 10  C009                         43016 non-null  int64
 11  L01701                       0 non-null      float64
 12  L018                         0 non-null      float64
 13  M01601                       43016 non-null  int64
 14  N010                         43016 non-null  int64
 15  P00104                       42241 non-null  float64
 16  P00404                       42241 non-null  float64
 17  P034|P035                    43016 non-null  float64
 18  P03701|P03702                43016 non-null  category
 19  P050|P052                    43016 non-null  int64
 20  P053                         41386 non-null  float64
 21  P05901|P05902|P05903|P05904  43016 non-null  category
 22  Q074                         43016 non-null  int64
 23  Q092                         43016 non-null  int64
 24  Q11006                       43016 non-null  int64
 25  Q11604                       43016 non-null  int64
dtypes: category(2), float64(7), int64(17)
memory usage: 8.0 MB

In [55]:
data.to_excel("../../Bases/Base_plano_Cartesiano.xlsx", index=False)